!!!
%html
  %head
    %meta{ :"http-equiv" => "Content-type", :content => "text/html; charset=utf-8" }
    %title
      T4 
      |
      = @title || "Powered by TwitterAuth" 
      
    = stylesheet_link_tag 'master' 
    = javascript_include_tag 'jquery.js'
    = javascript_include_tag 'application.js'
  %body
    #wrapper
      #header
        #h1= link_to 'T4', '/' 
         
        #user_bar
          - if logged_in? 
            = image_tag(current_user.profile_image_url, :width => 24, :height => 24)
            Logged in as 
            %strong
              = current_user.login 
            
            = link_to 'Log out', '/logout'
          - else
            = link_to 'Login via Twitter', '/login' 
          
        .clearfix
    
      #contents
        - if flash[:error] 
          .flash.error
            = flash[:error]
        - if flash[:notice] 
          .flash.notice
            = flash[:notice]
        
        = yield

    #footer
      Copyright &copy; 2009 T4

